# CONEXIÓN
SOFI_URL=wss://haapbdigtalv.onrender.com/ws/canal_kuhul
LOCAL_FALLBACK=ws://127.0.0.1:8765/ws/canal_kuhul

# IDENTIFICACIÓN
HERMES_ID=MERIDA_UNIDAD_01
HERMES_TIPO=android_termux

# SEGURIDAD
LLAVE_JHOP=_12.3Hz_Kuhul_SOFI_2026

# CONFIGURACIÓN OPERATIVA
EN_TERMUX=true
HERMES_TELEMETRIA_INTERVALO=8
HERMES_RECONEXION_TIMEOUT=5
INTERVALO_PING=15

# RUTAS
RUTA_FOTOS=/sdcard/DCIM/OSIRIS/
RUTA_ARCHIVOS=/sdcard/Download/
